In [38]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
# Load dataset
df = pd.read_csv('category_count_per_route.csv')
df.fillna(0, inplace = True)

In [40]:
df = df.drop(columns=['wp_count', 'poi_count'])

In [41]:
df

,route_id,tree_count,bench_count,restaurant_count,cafe_count,atm_count,convenience_count,bar_count,ice_cream_count,picnic_table_count,viewpoint_count,gallery_count,museum_count,nightclub_count,drinking_water_count,historic_count,tourist_attraction_count
0,3503504,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2713522,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3568200,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3503503,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3573326,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,3645741,114.0,25.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
426,3652522,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,3652641,2.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
428,3654533,38.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
429,3662261,2.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0